/*body
{
background-color:#000;
}
//button*/
.button{
border-radius:5px;
user-select:none;
position:relative;
background-color:#fff;

box-shadow:0px 2px 5px -1px #000;
transition:all 0.25s ease;
padding:10px;
}
.button:hover{
background-color:#eee;
box-shadow:0px 5px 5px -1px #000;
transform:translateY(-3px);
transition:all 0.25s ease;
}
.blue:active {
background-color:#33eecc;
transition:all 0.25s ease;
}
.black:active{
color:#fff;
box-shadow:0px 5px 5px -1px #000;
background-color:#000;
transition:all 0.25s ease;
}        
table
{
border-radius:5px;
user-select:none;
/*position:absolute;*/
background-color:#fff;
box-shadow:0px 2px 5px -1px #000;
transition:all 0.25s ease;
width:100%;
}



th:hover{
background-color:#eee;
box-shadow:0px 5px -5px -1px #000;
transform:translateY(-3px);
transition:all 0.25s ease;
} 
th:active {
background-color:#33eecc;
transition:all 0.25s ease;

}


th
{
border-radius:3px;
padding:10px;

border-bottom:#000 3px solid;
transition:all 0.25s ease;
}




td:hover{
background-color:#eee;
box-shadow:0px 5px 5px -5px #000;
transform:translateY(-3px);
transition:all 0.25s ease;
} 
td:active {
color:#fff;
background-color:#7e14d1;
transition:all 0.25s ease;

}


td
{
border-radius:3px;

width:200px;
transition:all 0.25s ease;
margin:100px;
}


iframe.aaa
{
border-radius:10px;
	position:fixed;

border:none;

height:90%;
top:10%;
width:85%;

left:15%;
	transition:all 0.25s ease;
	z-index:-999;   
}
iframe.aaa.sidebar
{
	border-radius:10px;   
	left:0px;
	transition:all 0.5s ease;

	position:fixed;
width:15%;
	z-index:-999; 
}
iframe.aaa:hover
{
	border-radius:0px;
	z-index:999;
box-shadow:0px 5px 135px -15px rgba(0,0,0,0.5);;	   
	transition:all 0.5s ease;
left:2%;
width:98%;	
height:100%;
top:0%;

}
iframe.aaa.sidebar:hover
{


	z-index:999;
box-shadow:0px 5px 135px -15px #000;	
	transition:all 0.5s ease;
left:0%;
width:25%;	
height:100%;
top:0%;

}
iframe.aaa:not(:hover)
{
border-radius:10px;
/*transform:translateY(80%);*/
transition:all 0.5s ease;
}
iframe.aaa::before
{
	    content: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";
		    background-color: yellow;
    color: red;
    font-weight: bold;
}
*::-webkit-scrollbar
{
		background-color:rgba(127,127,127,0.5);
	width:10px;
	border-radius:100px;
}
*::-webkit-scrollbar-thumb {
    background: #000; 
		background-color:rgba(127,127,127,0.5);
		border-radius:50px;
		padding:2px;
		transition:all 0.25s ease;
}
*::-webkit-scrollbar-button {

}
*::-webkit-scrollbar-thumb:hover {
transition:all 0.25s ease;
		background-color:rgba(0,0,0,1);

}
a
{
	width:100%;
	color:inherit;
	text-decoration:none;
	cursor:default;
}

@charset "utf-8";@font-face{font-family:"font92731"src:url("SF-UI-Display-Regular.woff"); format("woff");font-weight:normal;font-style:normal;}
@font-face {
  font-family: 'thonburi';
  src: url('SukhumvitSet-Text.ttf');
}
body{

font-family: font92731,thonburi;
}
